.restaurant {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 4px 4px grey;
    margin: 20px 10px;
    &__link {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        display: flex;
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        &--1 {
            background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        }
        &--2 {
            background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        }
        &--3 {
            background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        }
        &--4 {
            background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        }
    }
    &__new {
        align-self: flex-end;
        width: 60px;
        height: 20px;
       color: green;
       background-color: rgb(120, 216, 120);
    }
    &__description
    {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        &__title
        {
            margin-bottom: 0;
        }
        &__location {
            margin-top: 0;
        }
    }
    &__love {
        align-self: center;
        margin: auto;
    }

}